<div class="container">
    
    <div class="mt-5 mb-3 row">
        <div class="col-12">
            <label class="label-txt-cliente">Lista de clientes:</label>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Promedio</th>
                <th scope="col">Desvío estandar</th>                
            </tr>
        </thead>

        <tbody>
            <tr>
                <th scope="row"></th>
                <td>{{ promedio.promedio }}</td>
                <td>{{ promedio.desvio }}</td>                
            </tr>          
        </tbody>
    </table>
 
</div>