<div class="container">
    <h1 class="visually-hidden">Heroes examples</h1>
    
    <div class="px-4 py-5 my-5 text-center">
        <img class="d-block mx-auto mb-4" src="./assets/img/inter-banner.jpg" alt="">
        <h1 class="display-5 fw-bold">Bienvenidos</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">La siguiente plataforma le permite al usuario obtener información detallada sobre los usuarios registrados y sus datos personales, como asi también el cálculo de valores promedio según la edad registrada de nuestros usuarios junto con su desvio estandar.</p>
            
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">   
                <button (click)="goTo('clientes')" routerLinkActive="router-link-active" type="button" class="btn btn-primary btn-lg px-4 me-sm-3">Ver clientes</button>
                <button (click)="goTo('promedio')" type="button" class="btn btn-outline-secondary btn-lg px-4">Ver promedios</button>
            </div>
        </div>
    </div>
    
    <div class="b-example-divider"></div>
</div>
