<div class="container">

    <div class="row mt-3 mb-2">
        <div class="col-12">
            <a [routerLink]="['/clientes']" routerLinkActive="router-link-active" class="back-btn" >
                <i class="bi bi-arrow-left"> </i>
                <label for="">Volver</label>
            </a>
        </div>
    </div>

    <form [formGroup]="formGroup" (ngSubmit)="validarFormulario()">
        <div class="row mt-3">
            <div class="col-6">
                <label for="nombre" class="form-label">Ingrese el nombre:</label> 
                <input type="text"  
                        class="form-control" 
                        [class.is-invalid]="nombreValidation"                                   
                        id="nombre" 
                        placeholder="Ingrese un nombre" 
                        formControlName="nombre">

                <small *ngIf="nombreValidation" class="text-danger">Debe ingresar el nombre.</small>
            </div>

        
            <div class="col-6">
                <label for="apellido" class="form-label">Ingrese el apellido:</label> 
                <input type="text"  
                        class="form-control" 
                        [class.is-invalid]="apellidoValidation"                                   
                        id="apellido" 
                        placeholder="Ingrese un apellido" 
                        formControlName="apellido">

                <small *ngIf="apellidoValidation" class="text-danger">Debe ingresar el apellido.</small>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-6">
                <label for="edad" class="form-label">Ingrese su edad</label> 
                <input type="text"
                        class="form-control"                        
                        id="edad"
                        placeholder="Ingrese edad"
                        formControlName="edad">
            </div>        
           
            <div class="col-6 date-colomn">    

                <div class="input-group dp-container">     

                    <label for="fechaNacimiento" class="form-label label-dp">Ingrese su fecha de nacimiento:</label> 

                    <div class="dp-group">
                        <input class="form-control" placeholder="yyyy-mm-dd" ngbDatepicker
                               name="dp" [(ngModel)]="model" [footerTemplate]="footerTemplate" 
                               #dp="ngbDatepicker" formControlName="fechaNacimiento">
    
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" (click)="dp.toggle()" type="button">
                                <i class="bi bi-calendar3"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-12 submit-btn">
                <button type="submit" class="btn btn-outline-primary btn-lg">Enviar</button>
            </div>
        </div>
    </form>

</div>

<ngx-bootstrap-spinner></ngx-bootstrap-spinner>

<ng-template #footerTemplate>
    <hr class="my-0">
    <button class="btn btn-primary btn-sm m-2 float-left" (click)="model = today; dp.close()">Today</button>
    <button class="btn btn-secondary btn-sm m-2 float-right" (click)="dp.close()">Close</button>
</ng-template>